.share-button{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border:none;
    cursor: pointer;
    background-color: var(--color-grey-200);
    color: var(--color-grey-900);


}

.share-button:hover{
    background-color: var(--color-grey-500);
    color: var(--color-white);
}

.visually-hidden {
    position: absolute;
    width: 1px; height: 1px;
    padding: 0; margin: -1px;
    overflow: hidden; clip: rect(0 0 0 0);
    white-space: nowrap; border: 0;
}
